Exercise 1
•Study all datasets provided.

differnet datasets with musicians, songs, songlyrics, streams and other statistics like thei dancability

•What are questions that could be analyzed using these datasets?

different characteristics that bring songs more streams according to the countries
Lyrics generator

•Specifically, what are questions that could be analyzed by suitably combining and consolidating all
datasets into one?

what gets you into the charts

•How should such a combined data set look like: What defines a single row? What are the relevant
key columns that can be used to join the different data sets?

merge them by the song

In [47]:
import pandas as pd
from collections import Counter

In [48]:
tracks = pd.read_csv('data/tracks.csv')
lyrics = pd.read_csv('data/lyrics.csv')
artists = pd.read_json('data/artists.json')
charts_es = pd.read_excel('data/charts_es.xlsx')
charts_de = pd.read_excel('data/charts_de.xlsx')
charts_gb = pd.read_excel('data/charts_gb.xlsx')
charts_us = pd.read_excel('data/charts_us.xlsx')

In [49]:
tracks.shape

(792, 11)

In [50]:
artists.rename(columns={'genres':'artists_genres'}, inplace= True)
artists.rename(columns={'name':'artist'}, inplace= True)
artists.rename(columns={'id':'artist_ids'}, inplace= True)

artists.head()

,artist_ids,artist,artists_genres
0,0X2BH1fck6amBIoJhDVmmJ,Ellie Goulding,"[dance pop, edm, electropop, indietronica]"
1,4Q6nIcaBED8qUel8bBx6Cr,Jax Jones,"[dance pop, edm, electro house, house]"
2,0GgY7hjMoGDsX8ZDe2mwds,Soolking,"[francoton, french hip hop, pop urbaine, rap a..."
3,0xRXCcSX89eobfrshSVdyu,MEDUZA,"[edm, pop, pop dance, pop house]"
4,6W5uA6CNMf3hd2j4a2XWCx,Naps,"[francoton, french hip hop, pop urbaine, rap m..."

In [51]:
# Extract and flatten the genres column
all_genres = [genre for genres_list in artists['artists_genres'] for genre in genres_list]

# Count occurrences of each genre
genre_counts = Counter(all_genres)

print(genre_counts)

Counter({'pop': 77, 'german hip hop': 61, 'dance pop': 57, 'pop urbaine': 44, 'french hip hop': 42, 'latin': 38, 'reggaeton': 35, 'trap latino': 35, 'rap': 29, 'hip hop': 27, 'rap francais': 26, 'francoton': 24, 'urbano espanol': 22, 'pop rap': 21, 'edm': 20, 'latin pop': 20, 'spanish pop': 16, 'german trap': 16, 'reggaeton flow': 15, 'latin hip hop': 14, 'modern rock': 13, 'french pop': 13, 'r&b': 12, 'pop dance': 11, 'atl hip hop': 10, 'melodic rap': 10, 'rap conscient': 10, 'electro house': 9, 'house': 9, 'post-teen pop': 9, 'trap': 9, 'gangster rap': 9, 'rock': 9, 'permanent wave': 9, 'electropop': 8, 'uk pop': 8, 'partyschlager': 8, 'corrido': 7, 'colombian pop': 7, 'alt z': 7, 'contemporary country': 7, 'german drill': 6, 'hamburg hip hop': 6, 'trap argentino': 6, 'flamenco urbano': 6, 'pop rock': 6, 'german pop': 6, 'rap canario': 6, 'urbano latino': 6, 'german cloud rap': 5, 'corridos tumbados': 5, 'nuevo regional mexicano': 5, 'reggaeton colombiano': 5, 'trap triste': 5, 'argentine hip hop': 5, 'drill espanol': 5, 'rap espanol': 5, 'rap latina': 5, 'dominican pop': 5, 'hip pop': 5, 'rap calme': 5, 'tropical house': 4, 'latin arena pop': 4, 'german alternative rap': 4, 'puerto rican pop': 4, 'regional mexican': 4, 'conscious hip hop': 4, 'spanish hip hop': 4, 'modern alternative rock': 4, 'trap boricua': 4, 'indie pop': 4, 'pop flamenco': 4, 'latin viral pop': 4, 'deep german hip hop': 4, 'art pop': 4, 'east coast hip hop': 4, 'rap marseille': 3, 'dance rock': 3, 'sierreno': 3, 'r&b en espanol': 3, 'albanian hip hop': 3, 'canadian pop': 3, 'lgbtq+ hip hop': 3, 'g funk': 3, 'classic rock': 3, 'mellow gold': 3, 'gen z singer-songwriter': 3, 'german underground rap': 3, 'alternative rock': 3, 'folk-pop': 3, 'escape room': 3, 'uk hip hop': 3, 'chanson': 3, 'alternative r&b': 3, 'nigerian pop': 3, 'new french touch': 3, 'afro dancehall': 3, 'belgian hip hop': 3, 'new wave pop': 3, 'grime': 3, 'rumba': 3, 'country': 3, 'nueva musica mexicana': 3, 'indietronica': 2, 'pop house': 2, 'alternative dance': 2, 'australian dance': 2, 'australian electropop': 2, 'atl trap': 2, 'alternative metal': 2, 'spanish pop rock': 2, 'north carolina hip hop': 2, 'variete francaise': 2, 'emo rap': 2, 'pop r&b': 2, 'dream pop': 2, 'album rock': 2, 'pop venezolano': 2, 'rap underground espanol': 2, 'slap house': 2, 'pop argentino': 2, 'neo mellow': 2, 'stomp and holler': 2, 'brostep': 2, 'piano rock': 2, 'latin rock': 2, 'drill francais': 2, 'glam rock': 2, 'french rock': 2, 'latin talent show': 2, 'outlaw country': 2, 'seattle hip hop': 2, 'irish pop': 2, 'dancehall': 2, 'urban contemporary': 2, 'frauenrap': 2, 'canadian hip hop': 2, 'german indie folk': 2, 'alternative hip hop': 2, 'nigerian hip hop': 2, 'memphis hip hop': 2, 'cubaton': 2, 'chicago rap': 2, 'big room': 2, 'rap belge': 2, 'manchester hip hop': 2, 'electro latino': 2, 'eurodance': 2, 'neo soul': 2, 'new romantic': 2, 'new wave': 2, 'southern hip hop': 2, 'baroque pop': 2, 'german rock': 2, 'schlager': 2, 'latin alternative': 2, 'sleep': 2, 'rap algerien': 1, 'british soul': 1, 'pop soul': 1, 'deep euro house': 1, 'deep house': 1, 'cumbia pop': 1, 'aussie drill': 1, 'london rap': 1, 'nu metal': 1, 'post-grunge': 1, 'rap metal': 1, 'belgian pop': 1, 'canadian contemporary r&b': 1, 'russian plugg': 1, 'trap chileno': 1, 'baltimore indie': 1, 'dreamo': 1, 'modern dream pop': 1, 'drill brasileiro': 1, 'melbourne bounce international': 1, 'r&b argentino': 1, 'spanish indie pop': 1, 'minnesota hip hop': 1, 'arabic hip hop': 1, 'rap maroc': 1, 'swedish hip hop': 1, 'miami hip hop': 1, 'rap dominicano': 1, 'german dance': 1, 'west coast rap': 1, 'brooklyn drill': 1, 'nyc rap': 1, 'hard rock': 1, 'cantautor': 1, 'rock en espanol': 1, 'bachata': 1, 'mambo chileno': 1, 'italian hip hop': 1, 'trap italiana': 1, 'philly rap': 1, 'australian pop': 1, 'talent show': 1, 'french reggae': 1, 'dfw rap': 1, 'viral pop': 1, 'indie rock italiano': 1, 'italian pop': 1, 'german r&b': 1, 'kentucky hip hop': 1, 'rap catala': 1, 'trap catala': 1, 'pop reggaeton': 1, 'panamanian pop': 1, 'pop nacional': 1, 'dmv rap': 1, 'discofox': 1, 'oktoberfest': 1, 'french indie pop': 1, 'chill pop': 1, 'gauze pop': 1, 'shiver pop': 1, 'north east england indie': 1, 'garage rock': 1, 'sheffield indie': 1, 'detroit hip hop': 1, 'beatlesque': 1, 'britpop': 1, 'madchester': 1, 'afrofuturism': 1, 'australian hip hop': 1, 'irish singer-songwriter': 1, 'belgian edm': 1, 'christlicher rap': 1, 'afropop': 1, 'azonto': 1, 'brazilian edm': 1, 'old school rap francais': 1, 'dutch edm': 1, 'grunge': 1, 'nottingham hip hop': 1, 'ambient pop': 1, 'el paso indie': 1, 'shoegaze': 1, 'perreo': 1, 'new orleans rap': 1, 'crunk': 1, 'dirty south rap': 1, 'canadian trap': 1, 'aussietronica': 1, 'afro r&b': 1, 'alte': 1, 'electro': 1, 'filter house': 1, 'spanish noise pop': 1, 'uk funky': 1, 'metropopolis': 1, 'birmingham grime': 1, 'instrumental grime': 1, 'dream trance': 1, 'trance': 1, 'rap politico': 1, 'indie folk': 1, 'basshall': 1, 'country road': 1, 'modern country rock': 1, 'europop': 1, 'hip house': 1, 'neo-singer-songwriter': 1, 'hardcore hip hop': 1, 'british alternative rock': 1, 'brighton indie': 1, 'scottish singer-songwriter': 1, 'nouvelle chanson francaise': 1, 'uk alternative pop': 1, 'weirdcore': 1, 'plugg': 1, 'kosovan pop': 1, 'schweizer rap': 1, 'swiss hip hop': 1, 'swiss trap': 1, 'barbadian pop': 1, 'austrian pop': 1, 'vienna indie': 1, 'eurovision': 1, 'new jersey underground rap': 1, 'trap queen': 1, 'gqom': 1, 'deep groove house': 1, 'turkish trap pop': 1, 'modern indie pop': 1, 'disco house': 1, 'pluggnb': 1, 'drift phonk': 1, 'neue neue deutsche welle': 1, 'nightcore': 1, 'sped up': 1, 'bass house': 1, 'russian edm': 1, 'rkt': 1, 'oklahoma country': 1, 'nashville indie': 1, 'volkspop': 1, 'cumbia': 1, 'pop electronico': 1, 'bedroom pop': 1, 'german boom bap': 1, 'world': 1, 'french tech house': 1, 'french techno': 1, 'musica chihuahuense': 1, 'k-pop': 1, 'k-pop girl group': 1, 'urbano mexicano': 1, 'phonk brasileiro': 1, 'uk dnb': 1, 'boston folk': 1, 'breaks': 1, 'experimental house': 1, 'sad sierreno': 1, 'edmonton indie': 1, 'lo-fi indie': 1, 'covertronica': 1, 'sad lo-fi': 1, 'art rock': 1, 'rap boricua': 1, 'new jersey rap': 1, 'uk alternative hip hop': 1, 'nuevo flamenco': 1, 'kentucky indie': 1, 'kentucky roots': 1, 'previa': 1})

In [52]:
charts_de.head()

,variable,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,artist_names,"Udo Lindenberg, Apache 207",reezy,Miley Cyrus,Eminem,"AYLIVA, MERO",AYLIVA,"badmómzjay, Domiziana",HoodBlaq,Nina Chuba,...,"Drake, 21 Savage","KXXMA, TurboKevin","The Cratez, Sido, Kontra K, Montez",AYLIVA,Lana Del Rey,Kontra K,Azet,"Cheriimoya, Sierra Kidd","The Kid LAROI, Justin Bieber",Edwin Rosen
1,date,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,...,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28,2023-03-28
2,streams,555402,379126,368606,317513,315142,299209,258486,242039,238206,...,63775,63405,63281,63236,62643,62352,62294,62212,61587,61585
3,track_id,7oQepKHmXDaPC3rgeLRvQu,1rDfZwXzeotPuDtBJotaK1,4DHcnVTT87F0zZhRPYmZ3B,561jH07mF1jHuk7KlaeF0s,7DyDjhZMEIK5Ied4juTCyc,6WnIsfCuNqrlngROXGVe1W,5qDzKUTHCUiKhewBa9STsE,1ZKMMvWLhxXlk7VXqS7YRG,7AyE8MRf4dIK75mqqpks9S,...,1bDbXMyjaUIooNwFE9wn0N,5ZNa6S7agmCmaEnxIHE73m,7lkYdyKCN44Lc5saKwIGhP,04C356Ob8t7AGIWvmEqUU6,1FEiijYPJtyswChfcpv3p0,7gK3S5NIkw1KdvdnUU1O5z,7gC8OO5ORfuqX4OrE9EQtE,2kx5sQgmjYug0GiDh1a4sU,567e29TDzLwZwfDuEpGTwo,05FN4XjxvZLo4qwmQC7yxh
4,track_name,Komet,SHOOT,Flowers,Mockingbird,Sie weiß (feat. Mero),Was mir gefällt,Auf die Party,PASS AUF,Mangos mit Chili,...,Rich Flex,Get Shaky,Spät nach Haus,Ich will nicht heim,Summertime Sadness,Nur für Dich,25 Mann,"Living Life, In The Night",STAY (with Justin Bieber),leichter//kälter

In [53]:

# Melt the DataFrame to long format
charts_us_long = pd.melt(charts_us, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_us_long_final = charts_us_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_us_long_final['country'] = 'us'

charts_us_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,Morgan Wallen,2023-03-28,1788527,7K3BhSpAxZBznislvUMVtn,Last Night,us
1,2,"PinkPantheress, Ice Spice",2023-03-28,1653288,6AQbmUe0Qwf5PZnt4HmTXv,Boy's a liar Pt. 2,us
2,3,SZA,2023-03-28,1578062,1Qrg8KqiBpW07V7PNxwwwL,Kill Bill,us
3,4,Miley Cyrus,2023-03-28,1072622,4DHcnVTT87F0zZhRPYmZ3B,Flowers,us
4,5,"Tyler, The Creator",2023-03-28,1024156,0judK8TqYfvwUohBngUxrE,DOGTOOTH,us

In [54]:

# Melt the DataFrame to long format
charts_gb_long = pd.melt(charts_gb, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_gb_long_final = charts_gb_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_gb_long_final['country'] = 'gb'


charts_gb_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"PinkPantheress, Ice Spice",2023-03-28,371705,6AQbmUe0Qwf5PZnt4HmTXv,Boy's a liar Pt. 2,gb
1,2,"Calvin Harris, Ellie Goulding",2023-03-28,341313,5eTaQYBE1yrActixMAeLcZ,Miracle (with Ellie Goulding),gb
2,3,Miley Cyrus,2023-03-28,321644,4DHcnVTT87F0zZhRPYmZ3B,Flowers,gb
3,4,SZA,2023-03-28,285671,1Qrg8KqiBpW07V7PNxwwwL,Kill Bill,gb
4,5,Ed Sheeran,2023-03-28,270700,4hy7qTxsnyZUZoqo5RtaYq,Eyes Closed,gb

In [55]:

# Melt the DataFrame to long format
charts_es_long = pd.melt(charts_es, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_es_long_final = charts_es_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_es_long_final['country'] = 'es'


charts_es_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"ROSALÍA, Rauw Alejandro",2023-03-28,1146484,609E1JCInJncactoMmkDon,BESO,es
1,2,"KAROL G, Shakira",2023-03-28,649915,0DWdj2oZMBFSzRsi2Cvfzf,TQG,es
2,3,"Bizarrap, Arcángel",2023-03-28,636883,7cQ0LAxT5HHCLGbxcjaxac,"Arcángel: Bzrp Music Sessions, Vol. 54",es
3,4,"Eladio Carrion, Bad Bunny",2023-03-28,607802,0PB0O24JqAuNdOAFVJljMS,Coco Chanel,es
4,5,"Yandel, Feid",2023-03-28,530906,4FAKtPVycI4DxoOHC01YqD,Yandel 150,es

In [56]:

# Melt the DataFrame to long format
charts_de_long = pd.melt(charts_de, id_vars=['variable'], var_name='song_index', value_name='value')
# Pivot to get the final long format DataFrame
charts_de_long_final = charts_de_long.pivot(index='song_index', columns='variable', values='value').reset_index()
charts_de_long_final['country'] = 'de'


charts_de_long_final.head()

variable,song_index,artist_names,date,streams,track_id,track_name,country
0,1,"Udo Lindenberg, Apache 207",2023-03-28,555402,7oQepKHmXDaPC3rgeLRvQu,Komet,de
1,2,reezy,2023-03-28,379126,1rDfZwXzeotPuDtBJotaK1,SHOOT,de
2,3,Miley Cyrus,2023-03-28,368606,4DHcnVTT87F0zZhRPYmZ3B,Flowers,de
3,4,Eminem,2023-03-28,317513,561jH07mF1jHuk7KlaeF0s,Mockingbird,de
4,5,"AYLIVA, MERO",2023-03-28,315142,7DyDjhZMEIK5Ied4juTCyc,Sie weiß (feat. Mero),de

Let the merging begin:

In [57]:
all_charts = pd.concat([charts_de_long_final, charts_gb_long_final, charts_us_long_final, charts_es_long_final], ignore_index= True)
all_charts.rename(columns={'track_id':'id'}, inplace= True)

all_charts.shape

(800, 7)

In [58]:
print(lyrics.shape, tracks.shape, artists.shape, charts_de.shape)

(598, 2) (792, 11) (599, 3) (5, 201)

In [59]:
tracks.head()

,id,name,album_name,artist_ids,danceability,energy,speechiness,acousticness,valence,tempo,duration_ms
0,05Mp2UJulSttxQ4E6hQPH3,Ohne mein Team,Palmen aus Plastik,"1aS5tqEs9ci5P9KD9tZWa6,0Dvx6p8JDyzeOPGmaCIH1L,...",0.766,0.800,0.0938,0.160,0.635,129.999,188504
1,4bHsxqR3GMrXTxEPLuK5ue,Don't Stop Believin',Escape,0rvjqX7ttXeg3mTy8Xscbt,0.500,0.748,0.0363,0.127,0.514,118.852,250987
2,3rdAz1fbUfZxYgaCviYhRo,Todo De Ti,VICE VERSA,1mcTU81TzQhprhouKaTkpq,0.780,0.719,0.0506,0.302,0.336,127.962,199604
3,254bXAqt3zP6P50BdQvEsq,Everywhere - 2017 Remaster,Tango In the Night (Deluxe Edition),08GQAI4eElDnROBrJRGE0X,0.730,0.487,0.0303,0.258,0.731,114.965,226653
4,2PGA1AsJal6cyMNmKyE56q,200 km/h,Platte,1qQLhymHXFPtP5U8KNKsm6,0.899,0.670,0.1630,0.269,0.413,148.065,163147

In [60]:
df_tl = pd.merge(left=tracks, right=lyrics, on=["id"], how='outer')
df_tla = pd.merge(left=df_tl, right=artists, on=["artist_ids"], how='outer')
df_tlac = pd.merge(left=df_tla, right=all_charts, on=["id"], how='outer')

df_tlac.sort_values(['artist_names','name'],inplace=True)
df_tlac[["artist_names","artist_ids"]]
df_tlac.head(5)

,id,name,album_name,artist_ids,danceability,energy,speechiness,acousticness,valence,tempo,duration_ms,lyrics,artist,artists_genres,song_index,artist_names,date,streams,track_name,country
130,13Hjp3sOQxtR0TV0jdaxpM,Unsinn,Unsinn,3Z3aTg9PwJ37e8xeO0aUC9,0.715,0.504,0.0683,0.44200,0.307,77.989,175585.0,Unsinn Lyrics\n\nIch warte unten\nIn mei'm Beu...,01099,"[german hip hop, german trap]",52.0,01099,2023-03-28,116774,Unsinn,de
343,2t8yVaLvJ0RenpXUIAC52d,a lot,i am > i was,1URnnhqYAYcrqrcwql10ft,0.837,0.636,0.0860,0.03950,0.274,145.972,288624.0,​a lot Lyrics\nI love you\nTurn my headphone d...,21 Savage,"[atl hip hop, rap, trap]",199.0,21 Savage,2023-03-28,287619,a lot,us
630,50a8bKqlwDEqeiEknrzkTO,ball w/o you,i am > i was,1URnnhqYAYcrqrcwql10ft,0.892,0.633,0.0902,0.04670,0.459,137.994,195047.0,NaN,21 Savage,"[atl hip hop, rap, trap]",188.0,21 Savage,2023-03-28,294691,ball w/o you,us
867,6pcywuOeGGWeOQzdUyti6k,Glock In My Lap,SAVAGE MODE II,"1URnnhqYAYcrqrcwql10ft,0iEtIxbK0KxaSlF7G42ZOp",0.847,0.733,0.1600,0.00574,0.202,130.029,193591.0,TranslationsРусскийPortuguêsEspañolGlock in My...,NaN,NaN,55.0,"21 Savage, Metro Boomin",2023-03-28,497554,Glock In My Lap,us
695,5SWnsxjhdcEDc7LJjq9UHk,Runnin,SAVAGE MODE II,"1URnnhqYAYcrqrcwql10ft,0iEtIxbK0KxaSlF7G42ZOp",0.819,NaN,0.2020,0.00748,0.415,143.010,195906.0,Runnin Lyrics\nAm I really hard to please?\nPe...,NaN,NaN,178.0,"21 Savage, Metro Boomin",2023-03-28,302021,Runnin,us

In [61]:
df_tlac.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1292 entries, 130 to 1291
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              960 non-null    object
 1   name            960 non-null    object
 2   album_name      960 non-null    object
 3   artist_ids      1292 non-null   object
 4   danceability    960 non-null    float64
 5   energy          767 non-null    float64
 6   speechiness     954 non-null    float64
 7   acousticness    954 non-null    float64
 8   valence         954 non-null    float64
 9   tempo           954 non-null    float64
 10  duration_ms     960 non-null    float64
 11  lyrics          721 non-null    object
 12  artist          933 non-null    object
 13  artists_genres  933 non-null    object
 14  song_index      800 non-null    float64
 15  artist_names    800 non-null    object
 16  date            800 non-null    object
 17  streams         800 non-null    object
 18  track_name      800 non-null    object
 19  country         800 non-null    object
dtypes: float64(8), object(12)
memory usage: 212.0+ KB

In [62]:
print(f'the total amount of all chart streams are {df_tlac['streams'].dropna().astype(int).sum()} streams')

the total amount of all chart streams are 160637412 streams

In [63]:
df_tlac['lyrics']

130     Unsinn Lyrics\n\nIch warte unten\nIn mei'm Beu...
343     ​a lot Lyrics\nI love you\nTurn my headphone d...
630                                                   NaN
867     TranslationsРусскийPortuguêsEspañolGlock in My...
695     Runnin Lyrics\nAm I really hard to please?\nPe...
                              ...
1287                                                  NaN
1288                                                  NaN
1289                                                  NaN
1290                                                  NaN
1291                                                  NaN
Name: lyrics, Length: 1292, dtype: object

In [64]:
df_tlac.groupby(['country'])[['danceability']].mean().sort_values(['danceability'],ascending = False)

         danceability
country
es           0.744625
de           0.700810
us           0.657075
gb           0.622370

In [65]:
de_stats = df_tlac[df_tlac['country'] == 'de']

lovecount = de_stats['lyrics'].dropna().astype(str).str.contains("fuck").sum()

print(lovecount, 'German chart songs contain the word love')

19 German chart songs contain the word love

In [66]:
df_tlac.isna().sum()

id                332
name              332
album_name        332
artist_ids          0
danceability      332
energy            525
speechiness       338
acousticness      338
valence           338
tempo             338
duration_ms       332
lyrics            571
artist            359
artists_genres    359
song_index        492
artist_names      492
date              492
streams           492
track_name        492
country           492
dtype: int64

In [67]:
# Drop NaN values and create a new DataFrame without them (if necessary)
de_stats_cleaned = de_stats.dropna(subset=['artists_genres'])

# Convert the 'artists_genres' column to strings
de_stats_cleaned['artists_genres'] = de_stats_cleaned['artists_genres'].astype(str)

C:\Users\TimPr\AppData\Local\Temp\ipykernel_3112\2475288053.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de_stats_cleaned['artists_genres'] = de_stats_cleaned['artists_genres'].astype(str)

In [68]:
# Sort the genres by their counts in descending order
sorted_genres = genre_counts.most_common()

# Select the third biggest entry (index 2 since it's 0-based)
third_biggest = sorted_genres[2]
print(third_biggest[0])

dance pop

In [ ]:
# Sort the genres by their counts in descending order
sorted_genres = genre_counts.most_common()

# Select the third biggest entry (index 2 since it's 0-based)
third_biggest = sorted_genres[2]

for genre in range(15):
    de_stats_cleaned[sorted_genres[genre][0]] = de_stats_cleaned['artists_genres'].str.contains(sorted_genres[genre][0])

In [74]:
de_stats_cleaned['streams'].dropna().sum()

11616010

In [105]:
for genre in range(1,16):
    streams = de_stats_cleaned[de_stats_cleaned.iloc[:,-genre]==True]['streams'].sum()
    print(f'Das Genre "{de_stats_cleaned.columns[-genre]}" hat {streams} streams')

Das Genre "edm" hat 291652 streams
Das Genre "pop rap" hat 336193 streams
Das Genre "urbano espanol" hat 0 streams
Das Genre "francoton" hat 0 streams
Das Genre "rap francais" hat 0 streams
Das Genre "hip hop" hat 5305147 streams
Das Genre "rap" hat 3345819 streams
Das Genre "trap latino" hat 0 streams
Das Genre "reggaeton" hat 0 streams
Das Genre "latin" hat 67994 streams
Das Genre "french hip hop" hat 0 streams
Das Genre "pop urbaine" hat 0 streams
Das Genre "dance pop" hat 1233393 streams
Das Genre "german hip hop" hat 3929581 streams
Das Genre "pop" hat 4158455 streams

In [106]:
# Calculate the sum of streams for each genre
genre_streams = de_stats_cleaned.iloc[:, -15:].multiply(de_stats_cleaned['streams'], axis=0).sum()

# Sort the genres by streams in descending order
sorted_genre_streams = genre_streams.sort_values(ascending=False)

# Print the sorted results
for genre, streams in sorted_genre_streams.items():
    print(f'Das Genre "{genre}" hat {streams} streams')

Das Genre "hip hop" hat 5305147 streams
Das Genre "pop" hat 4158455 streams
Das Genre "german hip hop" hat 3929581 streams
Das Genre "rap" hat 3345819 streams
Das Genre "dance pop" hat 1233393 streams
Das Genre "pop rap" hat 336193 streams
Das Genre "edm" hat 291652 streams
Das Genre "latin" hat 67994 streams
Das Genre "pop urbaine" hat 0 streams
Das Genre "french hip hop" hat 0 streams
Das Genre "reggaeton" hat 0 streams
Das Genre "trap latino" hat 0 streams
Das Genre "rap francais" hat 0 streams
Das Genre "francoton" hat 0 streams
Das Genre "urbano espanol" hat 0 streams

In [100]:
de_stats_cleaned[de_stats_cleaned.iloc[:,-6]==True]['streams'].sum()

0